.markdownText a {
  color: rgb(41, 41, 255);
}

.markdownText h1 {
  font-size: 23px;
  font-weight: 700;
}

.markdownText h2 {
  font-size: 22px;
  font-weight: 700;
}

.markdownText h3 {
  font-size: 21px;
  font-weight: 700;
}

.markdownText h4 {
  font-size: 20px;
  font-weight: 700;
}

.markdownText h5 {
  font-size: 19px;
  font-weight: 700;
}

.markdownText h6 {
  font-size: 18px;
  font-weight: 700;
}
.markdownText thead {
  background-color: #d9e0e5;
}
.markdownText th,
td {
  text-align: center;
  border: 1px solid black;
}
.markdownText blockquote {
    position: relative;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.692);
}
.markdownText blockquote:before {
  position: absolute;
  content: "";
  border-radius: 10px;
  width: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  background: red;
}
