@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box !important;
}

.beautiful-scrollbar::-webkit-scrollbar {
  width: 4px;
  border-radius: 10px;
  background-color: none;
  padding-left: 10px;
}

.beautiful-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(222, 158, 242, 0.564);
  border-radius: 10px;
}
